<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <style>
        body {
     padding-top: 0px;
    padding-bottom: 0px;
    zoom: 100%; 
    margin: 0px;
        }

        /* .carousel-inner > .carousel-item > img {
          width:70%
} */
    .imgbox {
      height: 80%;
      display: grid;
    }
    .center-fit {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block webname %}

    {% endblock webname %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif; text-align: center; height: 0px; padding: 0%;">
    
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% static 'portfolio/CharlesResume.pdf' %}">Charles De-Wind</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="text-align: center;">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Portfolio <span class="sr-only">(current)</span></a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blogs<span class="sr-only">(current)
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_me:aboutme' %}">About Me<span class="sr-only">(current)
                </span></a>
            </li>

            


            
            <li class="nav-item">
              <a class="nav-link" href="{% static 'portfolio/CharlesResume.pdf' %}">My Resume</a>
            </li>
            <li>
                <a class="nav-link" href="https://github.com/Windz2k?tab=repositories">Github<span class="sr-only">(current)
                </span></a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </nav>
      
      <div class="bg-info text-white">
        {% block content %}
        {% endblock content %}
        <br>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
  <footer>
      <div class="bg-secondary text-white">
        <div class="bg-secondary" >
            <div class="container" style="font-size: medium;">
              <div class="row">
                <div class="col">Contact Me:<br>
                  <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">cdewind@outlook.com</li>
                    <li class="list-inline-item">charlesdewind09@gmail.com</li>
                  </ul></div>
                <div class="col" style="font-size: medium;">This website and its content is copyright of <em>Charles De-Wind - © Charles De-Wind 2020</em>.    All rights reserved.</p></div>
                <div class="col">        
                  <div>
                    <a href="{% url 'home' %}" type="button" class="btn btn-secondary">Portfolio</a>
                    <br>
                    <a href="{% url 'about_me:aboutme' %}" type="button" class="btn btn-secondary">About Me</a>
              
                    <a href="{% url 'blog:all_blogs' %}" type="button" class="btn btn-secondary">My Blog</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>
</html>