{% extends 'portfolio/base.html' %}
  
{% block webname %}
<title>My Portfolio</title>
{% endblock webname %}

{% block content %}
  {% load static %}
      <div class="text-center">
          <h1>Charles Portfolio</h1>
          <br>
          <!-- <a href="{% static 'portfolio/CharlesResume.pdf' %}">My Resume</a> -->
          <br>
          <!-- <a href="{% url 'blog:all_blogs' %}">My Blogs</a> -->
          <br>
          <img src="{% static 'portfolio/SnapPic.jpg' %}" width="190px">
        </div>
        
        
        {% comment %}
          Table For Name
        {% endcomment %}
    
        <table>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>{{project.title}}</td>
            <tr>
              <td>{{project.description}}</td>
            </tr>
              
            <tr>
              <td><img src="{{project.image.url}}" width="200px" ></td>
            </tr>
            {% if project.urls %}
            <tr>

              <td><a href="{{project.urls}}">LINK</a></td>
              
            </tr>
            {% endif %}
          </tbody>
        </table>
        {% endfor %}
        {% endblock content %}
      