<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio - Home</title>
    </head>
    <body>
        {% load static %}
        <h1>Charles Portfolio</h1>
        <br>
        <a href="{% static 'portfolio/CharlesResume.pdf' %}">My Resume</a>
        <a href="{% url 'blog:all_blogs' %}">My Blogs</a>
        <img src="{% static 'portfolio/SnapPic.jpg' %}">
        <p>{% for project in projects %}
            
            <h1>{{project.title}}</h1> 
            <br>
            <p>{{project.description}}</p>
            
            <img src="{{project.image.url}}">
            {% if project.urls %}
            <a href="{{project.urls}}">LINK</a>

            {% endif %} 
            {% endfor %}
        </p>
    </body>
</html>