{% extends 'portfolio/base.html' %}

{% block webname %}
<title>All Blogs</title>
{% endblock webname %}

{% block content %}
<h2>So far {{owner}} has written {{noofblogs}} blog</h2>
        {% for blogs in blogobjects %}
        <a href="{% url 'blog:detail' blogs.id %}"><h3>{{blogs.blog_name|title}}</h3></a>
    
        {{blogs.blog_date|date:"M j, Y"|upper}}
        {% if blogs.blog_author %}
        <br>
        <h3>{{blogs.blog_author}}</h3>
        {% endif %}
        <p>
            {{blogs.blog_description|truncatechars:100}}
        </p>
        {% endfor %}
 

{% endblock content %}
        