{% extends 'portfolio/base.html' %}

{% block webname %}
<title>About Me</title>
{% endblock webname %}

{% load static %}

{% block content %}
<div class="text-center">
    <h1>About Me</h1>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="{% static 'portfolio/SnapPic.JPG' %}" height="800px">
        </div>
        <div class="col-sm">
          <h6 style="font-size:24px">So... My Name is Charles De-Wind, at the time I'm writing this <i>(6th June 2020).</i><br>I am 17 years old and attend Herschel Grammar School for Sixth Form.<br>I am a self-taught programmer, i haven't had any professional teachers/tutors.<br>I created this website with the intention of sharing project ideas and source codes of these projects.</h6>
          <br>
          <p><i>Copyright © 2020 by Charles De-Wind 
            All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law. For permission requests, write to Charles De-Wind</i></p>
        </div>
      </div>
    </div>

    
  </div>
{% endblock content %}
